<title>{{title}}</title>
<h1 class="m15">VCX Starter Project</h1>
<p>
    Welcome to VCX Starter Project. <br>
    Modify <code>src/view/index.html</code> to edit this page.
</p>

<h1 style="font-family: Arial, Helvetica, sans-serif;" v-bind="count"></h1>
<button type="button" role="button" v-click="addCount()">+ Add count</button>

<style>
/* This style is applied to THIS page only (src/view/index.html) */
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}
.m15{
    margin-top: 20vh;
}
h1{
    font-size: 3.25rem;
    font-weight: 800 !important;
    font-family: 'Times New Roman', Times, serif
}
p{
    line-height: 1.95;
}
code{
    font-size: .9rem !important;
    background-color: #f4f4f4;
    padding: 3px 5px;
    border-radius: .2rem;
    font-family: 'Courier New', Courier, monospace;
}
button{
    background-color: #236dff;
    padding: .65rem 1.12rem;
    border: none !important;
    color: #fff;
    cursor: pointer;
    border-radius: .275rem;
    letter-spacing: .5px;
}
button:hover{
    opacity: .85;
}
button:active{
    opacity: 1;
}
</style>