<title>{{title}}</title>
<h1>VCX Starter Project</h1>
<p>
    Welcome to VCX Starter Project. <br>
    Modify <code>src/view/index.html</code> to edit this page.
</p>

<style>
/* This style is applied to THIS page only */
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}
h1{
    margin-top: 15vh;
    font-size: 3.25rem;
    font-weight: 800 !important;
    font-family: 'Times New Roman', Times, serif;
}
p{
    line-height: 1.95;
}
code{
    background-color: #f4f4f4;
    padding: 3px 5px;
    border-radius: .2rem;
    font-family: 'Courier New', Courier, monospace;
}
</style>